version: 2.1
orbs:
  python: circleci/python@1.5.0
jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.10.0
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
          pip-dependency-file: requirements.txt 
      - run:
          name: Run tests
          command: python -m pytest -v tests/

workflows:
  startup-basic:
    jobs:
      - build-and-test
