<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="../static/css/index.css" rel="stylesheet">
        <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">

        <title>BMR Calculator</title>
    </head>

    <body>
        <div class="mx-auto">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ url_for('index') }}">BMR Calc</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('database_records') }}" tabindex="-1" aria-disabled="true">Database Records</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-2" aria-disabled="true">Database Stats</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            {% block content %}{% endblock content %}
            <footer class="pt-5 my-5 text-muted border-top">
                Created by Odhran &middot; &copy; 2022
            </footer>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    </body>

</html>