{% extends 'base.html' %}
{% block content %}

<h1 class="display-4">Database Records</h1>

<table class="table" style="text-align: center;">
    <thead>
        <tr class="table-secondary">
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col">Height [cm]</th>
            <th scope="col">Weight [kg]</th>
            <th scope="col">Gender</th>
            <th scope="col">BMR</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.height }}</td>
            <td>{{ user.weight }}</td>
            <td>{{ user.gender }}</td>
            <td>{{ user.bmr }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}